.toggle-hide {
    display: none;
}

#close-button {
    padding: 10px;
}

#search-icon {
    pointer-events: none;
}

header{
   background-color: #1DA1F2;
   padding-top: 1px;
   padding-bottom:20px; 
}

main {
    min-height: calc(100vh - 116px)
}

footer {
    background-color:  #AAB8C2;
    height: 25px;
    color: white;
    text-align: center; 
}

footer p {
    margin-right: 100px;
}

@media (min-width: 790px) {
    footer{
        background-color:  #AAB8C2;
        position: fixed;
        bottom: 0;
        width: 100vw;
        color: white;
        text-align: center; 
        height: 25px;
    }
}